---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if paginator.posts.size > 0 -%}
    {%- for post in paginator.posts limit:1 -%}
    <h1 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h1>
    <ul class="post-list">
      <li>
        {% include post-list-item-featured.html post=post %}
      </li>
    </ul>
    {%- endfor -%}

    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in paginator.posts offset:1 -%}
      <li>
        {% include post-list-item.html post=post %}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {% include post-list-paginator.html %}

</div>